/*
 * Copyright 2023 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.breadcrumbs {
  display: none;
  align-items: center;
  padding: 1px 3px;
  overflow-y: hidden;
  overflow-x: scroll;

  position: absolute;
  top: 2px;
  left: 2px;

  z-index: 600;
  border-radius: 24px;
  background-color: var(--sys-color-cdt-base-container);
  box-shadow: 0px 1px 2px rgba(var(--sys-color-on-surface), 0.3), 0px 1px 3px 1px rgba(var(--sys-color-on-surface), 0.15);
}

.breadcrumbs::-webkit-scrollbar {
  display: none;
}

.breadcrumb {
  padding: 1px 3px;
  border-radius: 4px;
}

.breadcrumb:hover {
  background-color: var(--sys-color-state-hover-on-subtle);
}

.range {
  font-size: 12px;
  white-space: nowrap;
}

.active-breadcrumb {
  font-weight: bold;
  color: var(--app-color-active-breadcrumb);
}
